
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@500&family=Roboto+Slab:wght@500&display=swap');

body{
  background-color: #e8e8e8;
}

:root {
  --primary-color: #cce5ed;
  --secondary-color: #20a4dc;
}
.primary-color {
  color: var(--secondary-color);
 
}

 h1 , h3 , p{
  font-family: 'Montserrat', sans-serif;
 }

 h1{
  font-size: 58px;
  margin-left: 20px;
  font-weight: 600;
 }

 h3{
  margin-left: 100px;
  font-weight: 100;
 }

 p{
  margin-left: 120px;
  font-size: 18px;
  font-weight: 100;
 }

ul {
  list-style-type: none; 
  display: flex; 
  display: inline-block;
}

li {
  margin-right: 30px; 
  display: inline;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none; 
  color: rgb(14, 14, 14); 
  font-size: 20px;
}


a:hover,
a:active {
  color: var(--secondary-color);
}


/* .home-bg{
  background-image: url(/src/assets/home-bg.avif);
  background-repeat: no-repeat;
  background-position: center;
  
} */

.main-bg{
  background-image: url(/src/assets/home-bg.avif);
  background-repeat: no-repeat;
}

.btn-primary{
  margin-left: 117px;
}

